<li class="row rating-<%= book.rating %>" style="padding-top: 25px;">
  <div class="col-sm-3">
    <a href="#" target="_blank">
      <%= image_from_amazon(book.amazon_id) %>
    </a>
      </br></br>
      <span style="padding: 7%;">
      <% book.genres.each do |genre| %>
        <%= link_to genre.name, '#', class: 'label label-primary' %>
      <% end %>
    </span>
</br></br>
    <p class="text-center rating"><strong><%= book.rating %></strong>/5</p>
  </div>

  <div class="col-sm-9">
    <h3><a href="#"><%= book.title %></a></h3>
    <p ><em>Written by <%= book.author %></em></p>

    <div>
      <p style="color: #5db39d;">
        <%= book.description %>
      </p>
    </div>
    
      </br></br></br></br>
  </div>
</li>
